.footLayout {
  background-color: #f2f2f2;
  height: 20rem;
  width: 100%;
  position: relative;
  font-size: 17px;
}

.first-ele {
  padding-top: 5rem;
  position: absolute;
  display: block;
  padding-right: 20rem;
}

.sec-ele {
  padding-top: 10rem;
  list-style-type: none;
  position: relative;
  padding-left: 45rem;
}

.leftlink {
  float: left;
  margin-left: 5rem;
}

.rightlink {
  float: right;
}

.copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #808080;
}
