* {
  font-family: Rubik, sans-serif;
}
.para {
  position: absolute;
  color: white;
  top: 150px;
  left: 10%;
  font-size: 25px;
}

#cryptDemo {
  max-width: 80%;
  display: block;
  margin: auto;
}

#background1 {
  margin: auto;
  margin-bottom: 20px;
  background-image: url(../imgs/background.jpg);
  background-size: 100%;
  width: 100%;
  height: 70rem;
  background-repeat: no-repeat;
  position: relative;
}

.layout3 {
  position: relative;
  padding-top: 20px;
  margin-bottom: 4rem;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 50rem;
  width: 65rem;
  color: #808080;
  font-size: 20px;
  border-radius: 1rem;
}

.form-ele2 {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.form-ele1 form input {
  border-radius: 10px;
  background-color: #f2f2f2;
  color: black;
}
textarea {
  background-color: #f2f2f2;
  border-radius: 10px;
}
.left {
  float: left;
  padding-left: 10rem;
}

.right {
  float: right;
  padding-right: 10rem;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.form h1 {
  padding-top: 2rem;
  font-size: 35px;
  padding: auto;
  text-align: center;
  color: black;
}

.form-ele1 {
  margin-top: 10px;
}
.layout {
  position: relative;
  padding-top: 4.3rem;
}

.layout2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #808080;
}

.layout2 a {
  color: #009aee;
}
.layout2 a:hover {
  font-weight: bold;
}

.heading {
  font-size: 45px;
  padding-top: 3rem;
}

.layout p {
  font-size: 25px;
}

#label {
  padding-top: 2rem;
}
#link {
  text-align: center;
  padding-bottom: 1rem;
}

.formButton {
  display: block;
  color: white;
  background: black;
  margin: auto;
}
