.layoutnav a {
  float: left;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #cfcfcf;
}

.layoutnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(100px);
}

.link {
  display: block;
  background-color: grey;
}

.right-link a {
  float: right;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
}

.right-link a:hover {
  -webkit-transform: scale(1.2);
}

#logo {
  padding-left: 200px;
}
